<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header id="main_navigation" class="clearfix">
		<%= link_to "Artem Kikhtenko", root_path, class: "name" %>
		<nav>
			<ul>
				<li><%= link_to "Articles", posts_path %></li>
				<li><a href="projects.html">Projects</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</nav>
	</header>
	<%= yield %>

	<footer id="main_footer">
		<p class="copyright">&copy Kikhtenko Artem</p>
		<nav>
			<a href="http://vk.com/artem.kikhtenko" target="_blank"><i class="fa fa-vk"></i></i></a>
			<a href="https://facebook.com/artem.kikhtenko" target="_blank"><i class="fa fa-facebook-square"></i></a>
			<a href="https://github.com/artemka81" target="_blank"><i class="fa fa-github"></i></a>
		</nav>
	</footer>

</body>
</html>
